.container{
	
	width: 80%;
	height:650px;
	margin-left: 10%;
	margin-top: 80px;
	
}

.container img{
	width: 100%;
	height: 100%;
}
.menu-logo{float:right; position:absolute; top: 0px; right: 0;
  width:100%;
  height: 70px;
  z-index: 5;
  border-bottom: 1px ridge black;
  background-color: lightgrey;
}

.menu-logo img{width:110px ; height:110px ;margin-top: 10px; margin-left: 20px; padding:0;}
.menu-logo a img{float:right; width:40px ; height:40px ; margin-top: 14px; margin-right: 20px;padding:0;}




.carousel-caption{ width: 70%; height:220px; padding:0; margin-left: 0;position: absolute; top:70%; }
.carousel-caption h5{font-family: verdana, arial, sans-serif; font-size: 75px; background: rgba(green, 0.3);}
.carousel-caption a{text-decoration: none; color: white;}
.carousel-caption p{font-family: verdana, arial, sans-serif; width:40%; font-size: 35px;margin-left: 30%;background: rgba(255, 255, 255, 0.3);}
.carousel-caption p:hover{border:0px solid white;background: rgba(130, 130, 130, 0.6);}
.carousel-indicators li{width: 8%;}


.container-fluid{padding:0;}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left:0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */


.dropdown-menu{background-color:#111 ; border:1px solid grey;}

.row{margin-top:30px;}
.col-sm{padding:0;}
.cards{ margin-top: 100px; margin-bottom: 120px;}
.card{width:100%; }

.foother{width:100%; height:300px; border: 3px solid red;}


@media(max-width:768px){ 
  .container{width: 100%; height:300px; margin:0px; margin-top:80px;}
  .card{width: 100%; float:left; }
 
}
