.carousel{ width: 100%;margin:0; padding: 0;}

.carousel-item{

 margin:0%;
  width:100%;
  height:720px;
}
.carousel-item img{

 -webkit-filter: brightness(80%);
 -webkit-filter: contrast(60%);

}


#tornasu{
width:10%; position: absolute; top:85%; left:85%;
}

.menu-logo{float:right; background-color: #707070; position:absolute; top: 0px; right: 0;
  width:100%;
  height: 70px;
  z-index: 5;
  border-bottom: 1px ridge white;
}

.menu-logo img{width:90px ; height:90px ;margin-top: 10px; margin-left: 10px; padding:0;}
.menu-logo a img{float:right; width:70px ; height:70px ; margin-top: 2px; margin-right: 10px;padding:0;}




.carousel-caption{ width: 70%; padding:0; margin-left: 0;position: absolute;top:320px; bottom: 250px;}
.carousel-caption h5{font-family: verdana, arial, sans-serif; font-size: 75px;}
.carousel-caption p{font-family: verdana, arial, sans-serif; font-size: 45px;}
.carousel-indicators li{width: 8%;}


.container-fluid{padding:0;}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left:0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  padding: 20px;
}

.cards{margin-top: 400px;}






/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }